{{! Previous/next page links - only displayed on page 2+ }}
{{!-- <div class="extra-pagination inner">
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        {{!-- {{author}} --}}
        <div class="post-meta-data">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            {{tags prefix=" | "}}
        </div>
    </header>
        {{!-- {{#if author.image}}<figure class="circular-img"><img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" /></figure>{{/if}} --}}
    <section class="post-excerpt">
        {{content}}
        {{!-- read more? --}}
    </section>
    
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
